tensorflow==2.8
protobuf==3.20.0
git+https://github.com/Linked-Liszt/Tomo2Mesh.git@b2bcc3930112be30177501a3ba4414e1e6d028e6
connected-components-3d
pymesh
configparse
ConfigArgParse
ipykernel
numexpr
cupy-cuda11x
gradio
